name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login to DockerHub
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Build the Docker image
      run: docker build . --file ./src/Dockerfile --tag majunga/rust-yew:$(date +%s) majunga/rust-yew:latest
    - name: Push the Docker image
      run: docker push majunga/rust-yew:$(date +%s) majunga/rust-yew:latest
    
